<!-- footer -->
<footer class="footer has-background-danger-light mt-5" style="border-radius: 24px 24px 0 0;">
    <div class="content has-text-centered is-flex is-flex-direction-column is-align-items-center">
        <p>
            <strong>Call of Dragons</strong> туториалы для начинающих и не только. Данный сайт является фан сайтом и ни как не претиндует на офф права и не пытается выдать себя за создателя.
        </p>
        <a href="mailto:kolpakov.k99@gmail.com">Есть предложение? Пиши на почту</a>
        <figure class="image is-32x32">
            <img src="{{ osnova:logo }}" alt="">
        </figure>
    </div>
</footer>
<!-- footer end -->