<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="{{ mix src='/css/site.css' }}">
    <link rel="icon" href="{{ osnova:logo}}" type="image/png">
</head>
<body class="has-background-white-ter">
    <div class="container is-max-widescreen">
        
        {{partial:_nav}}
        
        <!-- hero -->
		<div class="column is-offset-1 is-10">

            <div class="block">
                <h1 class="block subtitle is-size-1 is-size-3-mobile">
                    {{ title }}
                </h1>
            </div>

            <figure class="block mt-4 image is-16by3">
                <img src="{{cover-image}}" style="border-radius: 24px;">
            </figure>

            <div class="block content">
                {{content}}
            </div>

		</div>
		<!-- hero end -->

        {{partial:_footer}}
        
    </div>

    <style>
		.content p{
            margin-bottom: 8px;
        }

        .content h2{
            margin-bottom: 20px;
        }

        .content h3{
            margin-bottom: 16px;
        }

        .content img{
            border-radius: 16px;
        }
	</style>

    <script src="https://kit.fontawesome.com/d6f1db1d92.js" crossorigin="anonymous"></script>
    <script src="{{ mix src='/js/site.js' }}"></script>
    <script src="{{ mix src='/js/main.js' }}"></script>
</body>
</html>
